{% extends "base.html" %}
{% block title %}
    Weather Station Dashboard
{% endblock %}

{% block dashboard %}
    class="current"
{% endblock %}

{% block body %}
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Meting','Temperature'],
            {% for i in data_temp %}
               [{{ loop.index }},{{ i[2] }}],
            {% endfor %}
        ]);

        var options = {
          title: 'Temperature',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('graph_temp'));

        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Meting','Humidity'],
            {% for i in data_hum %}
               [{{ loop.index }},{{ i[2] }}],
            {% endfor %}
        ]);

        var options = {
          title: 'Humidity',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('graph_hum'));

        chart.draw(data, options);
      }
    </script>
    <section>
        <img src="{{ url_for("static",filename="img/bg.png") }}" alt="header images" class="bgImage"/>
        <div class="content-right">

            <h1>Dashboard Weather Station</h1>
            <div class="content-graph">
                <section>
                    <h2>Temperature</h2>
                    <div id="graph_temp" style="width: 100%; height: auto"></div>
                </section>
                <section>
                    <h2>Humidity</h2>
                    <div id="graph_hum" style="width: 100%; height: auto"></div>
                </section>
            </div>
            <div class="content-data">
                <h2 class="clear">Current values</h2>
                <section>
                    Temp in<br>
                    <span class="value">{% for i in last_temp_in %}{{ i[2]|round|int }}{% endfor %}°C</span>
                </section>
                <section>
                    Temp out<br>
                    <span class="value">{% for i in last_temp_out %}{{ i[2]|round|int }}{% endfor %}°C</span>
                </section>
                <section>
                    Hum in<br>
                    <span class="value">{% for i in last_hum_in %}{{ i[2]|round|int }}{% endfor %}%</span>
                </section>
                <section>
                    Hum out<br>
                    <span class="value">{% for i in last_hum_out %}{{ i[2]|round|int }}{% endfor %}%</span>
                </section>
            </div>

        </div>
    </section>
{% endblock %}